body{
    background-color: #e6eeee;
    list-style: disc;
}
h1, h2, h3, h4 {
    color: #66BFBF;
    font-size: 30;
}
hr{
    background-color: rgb(136, 121, 92);
    border-style: none;
    border-color: rgb(180, 172, 172);
    border-top-style: dotted;
    border-width: 3px;
    width: 70%;
}
p {
    color: #3b0303;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}
@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%;
}
to {
    margin-left: 0%;
    width: 100%;
}
}